.vs/
build/

assets/textures/*
!assets/textures/.keep

assets/shaders/*
!assets/shaders/.keep

assets/materials/*
!assets/materials/.keep

assets/models/*
!assets/models/.keep

assets/scenes/*
!assets/scenes/.keep
